{{#partial "content"}}

    <h1>Add a new Squad!</h1>

    {{#if squads}}
        {{#each squads }}
            <p>Current squads:</p>
            <p>{{ squadName }} </p>
            <p>{{ description }} </p>
            <p>{{ size }} </p>
        {{/each}}
    {{else}}
        <p>No squads!</p>
    {{/if}}
    {{#if heros}}
        {{#each heros }}
            <p>Current heros:</p>
            <p>{{heroName}} </p>
            <p>{{ age}} </p>
            <p>{{ strength }} </p>
            <p>{{ weakness }} </p>
        {{/each}}
    {{else}}
        <p>No Heros!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}